.place__remove {
  background: transparent url(../../../images/Trash.svg) no-repeat center top;
    position: absolute;
    top: 17px;
    right: 12px;
    width: 22px;
  height: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity linear 0.3s;   
}

.place__remove:hover {
    opacity: 0.6;
}