.popup__close {
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    background-size: 100%;
    width: 34px;
    height: 34px;
    transform: rotate(45deg);
    border: none;
  }

