.popup__close {
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    background-size: 100%;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -30px;
    right: -30px;
    transform: rotate(45deg);
    border: none;
  }

  @media screen and (max-width: 550px) {
    .popup__close {
      top: -34px;
      right: 0; 
    }
}