.popup__input_name {
    margin-top: 30px;
  }

.popup__input_name::placeholder {
  font-family: Inter, Helvetica, sans-serif;
}
.popup__input_name::-webkit-input-placeholder {
  font-family: Inter, Helvetica, sans-serif;
}
.popup__input_name::-moz-placeholder {
  font-family: Inter, Helvetica, sans-serif;
}
.popup__input_name::-ms-input-placeholder {
  font-family: Inter, Helvetica, sans-serif;
}