.popup__input_job {
    padding: 0;
  }

.popup__input_job::placeholder {
  font-family: Inter, Helvetica, sans-serif;
}
.popup__input_job::-webkit-input-placeholder {
  font-family: Inter, Helvetica, sans-serif;
}
.popup__input_job::-moz-placeholder {
  font-family: Inter, Helvetica, sans-serif;
}
.popup__input_job::-ms-input-placeholder {
  font-family: Inter, Helvetica, sans-serif;
}